<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Ratespiel</title>
</head>
<body>
    <script>
        async function submitForm(event) {
            // stop form submission
            event.preventDefault();

            var form = event.target;
            var url = form.action;

            const formData = new FormData(form);
            console.log(formData);
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });

            const data = await response.json()
            if ("error" in data)
            {
                console.error(data)
            }
            else
            {
                console.info(data);
                window.location.reload();
            }
        }
    </script>

    <div class="container">
        <h1>Ratespiel</h1>
        <form id="login-form" action="{{ url_for('api.auth.api_login') }}" method="post">
            <label for="player_name">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <script>
            const login_form = document.getElementById("login-form");
            login_form.addEventListener('submit', submitForm);
        </script>
    </div>
</body>
</html>
