{% extends 'base.html' %}

{% block body %}
    {% include 'popup/settings.html' %}
    {% include 'popup/leaderboard.html' %}

    <header>
        {% if current_user.admin %}
            <button class="nav-button" id="admin-button">{{ t("navbar.admin") }}</button>
            <script>
                document.getElementById("admin-button").addEventListener("click", () => {
                    window.location.href = "/admin"
                })
            </script>
        {% endif %}
        <button class="nav-button" id="ranking-button" onclick="OpenPopup('leaderboard-popup')">{{ t("navbar.leaderboard") }}</button>
        <button class="nav-button" id="shop-button">{{ t("navbar.shop") }}</button>
        <button class="nav-button" id="settings-button" onclick="OpenPopup('settings-popup')">{{ t("navbar.settings") }}</button>
        <script>
            document.getElementById("shop-button").addEventListener("click", () => {
                location.href = "{{ url_for('frontend.main.shop') }}";
            });
        </script>
    </header>

    <div class="container">
        <h1>{{ t("guessing_game") }}</h1>
        <p>{{ t("game.tries") }}: <a id="attempts">{{ current_game.guesses or 0 }}</a></p>
        <p>{{ t("game.points") }}: <a id="points">{{ current_user.points or 0 }}</a></p>

        <p id="status"></p>
        <form id="dice-form" action="{{ url_for('api.dice.api_dice_guess') }}" method="post">
            <input
                type="number"
                min="0"
                max="100"
                name="guess"
                placeholder="{{ t('game.guess_number') }}"
                required
            >
            <button type="submit" name="submit">{{ t("game.guess") }}</button>
        </form>
        <script>
            var attempt_count = {{ current_game.guesses or 0 }};
            const current_game_url = "{{ url_for('api.dice.api_dice_info', current_game=True) }}"
            const user_url = "{{ url_for('api.auth.api_user') }}"

            const attempt_element = document.getElementById("attempts");
            const point_element = document.getElementById("points");
            const status_element = document.getElementById("status");
            const dice_form = document.getElementById("dice-form");

            function update_attempt_counter()
            {
                attempt_element.innerHTML = attempt_count;
            }

            async function update_point_counter()
            {
                const response = await fetch(user_url, {method: "GET"});
                const data = await response.json();

                point_element.innerHTML = data["points"];
            }

            dice_form.addEventListener("submit", async (event) => {
                // stop form submission
                event.preventDefault();

                var form = event.target;
                var url = form.action;
                var button = form.elements.submit;

                const formData = new FormData(form);

                const response = await fetch(url, {
                    method: "POST",
                    body: formData
                });

                const data = await response.json()

                status_element.innerHTML = data["message"];

                if (data["status"] == "dice_complete")
                {
                    form.reset();
                    attempt_count = 0;
                    button.classList.add("guess-right");
                    await update_point_counter();
                }
                else
                {
                    if ("error" in data && data["error"] != "invalid_guess")
                    {
                        ++attempt_count;
                    }
                    button.classList.add("guess-wrong");
                    update_attempt_counter();
                }
                setTimeout(() => {
                    button.className = "";
                }, 1000);
            });
        </script>
    </div>

    <footer>
        <button
            class="logout-button"
            id="logout-button"
            onclick="logout()"
        >
            {{ t("navbar.logout") }}
        </button>
        <script type="text/javascript">
            const logout_url = "{{ url_for('api.auth.api_logout') }}";
            async function logout()
            {
                fetch(logout_url, {method: "POST"})
                    .then(() => window.location.reload());
            }
        </script>
    </footer>
{% endblock %}
