<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='popup.js') }}"></script>
    <title>Ratespiel</title>
</head>
<body>
    
    <header>
        {% if current_user.admin %}
            <button class="nav-button" id="admin-button">Admin</button>
            <script>
                document.getElementById("admin-button").addEventListener("click", () => {
                    window.location.href = "/admin"
                })
            </script>
        {% endif %}
        <button class="nav-button" id="ranking-button">Rangliste</button>
        <button class="nav-button" id="shop-button">Shop</button>
        <button class="nav-button" id="settings-button" onclick="OpenPopup('settings-popup')">Einstellungen</button>
    </header>

    <div class="container">
        <h1>Ratespiel</h1>
        <p>Versuch: <a id="attempts">{{ current_game.guesses or 0 }}</a></p>
        <p>Punkte: <a id="points">{{ current_user.points or 0 }}</a></p>

        <p id="status"></p>
        <form id="dice-form" action="{{ url_for('api.dice.api_dice_guess') }}" method="post">
            <input
                type="number"
                min="0"
                max="100"
                name="guess"
                placeholder="Rate eine Zahl"
                required
            >
            <button type="submit" name="submit">Raten</button>
        </form>
        <script>
            var attempt_count = {{ current_game.guesses or 0 }};
            const current_game_url = "{{ url_for('api.dice.api_dice_info', current_game=True) }}"
            const user_url = "{{ url_for('api.auth.api_user') }}"

            const attempt_element = document.getElementById("attempts");
            const point_element = document.getElementById("points");
            const status_element = document.getElementById("status");
            const dice_form = document.getElementById("dice-form");

            function update_attempt_counter()
            {
                attempt_element.innerHTML = attempt_count;
            }

            async function update_point_counter()
            {
                const response = await fetch(user_url, {method: "GET"});
                const data = await response.json();

                point_element.innerHTML = data["points"];
            }

            dice_form.addEventListener("submit", async (event) => {
                // stop form submission
                event.preventDefault();

                var form = event.target;
                var url = form.action;
                var button = form.elements.submit;

                const formData = new FormData(form);

                const response = await fetch(url, {
                    method: "POST",
                    body: formData
                });

                const data = await response.json()

                status_element.innerHTML = data["message"];

                if (data["status"] == "dice_complete")
                {
                    form.reset();
                    attempt_count = 0;
                    button.classList.add("guess-right");
                    await update_point_counter();
                }
                else
                {
                    if ("error" in data && data["error"] != "invalid_guess")
                    {
                        ++attempt_count;
                    }
                    button.classList.add("guess-wrong");
                    update_attempt_counter();
                }
                setTimeout(() => {
                    button.className = "";
                }, 1000);
            });
        </script>
    </div>

    <div id="settings-popup" class="popup">
        <div class="container" id="setting">
            <p>Screen Reader:</p>
            <label class="slider">
                <input type="checkbox">
                <span class="slider-inner"></span>
            </label>
            <p>Front Size:</p>
            <input type="range" id="fontSizeSlider" min="10" max="50" step="1" value="16">
        </div>
    </div>

    <div class="container" id="leaderboard">
        <h1>Ranking</h1>
        <div class="ribbon"></div>
            <table>
                <tr>
                    <td class="number">1</td>
                    <td class="name">User 1</td>
                    <td class="points">
                    5000 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
                    </td>
                </tr>
                <tr>
                    <td class="number">2</td>
                    <td class="name">User 2</td>
                    <td class="points">4800</td>
                </tr>
                <tr>
                    <td class="number">3</td>
                    <td class="name">User 3</td>
                    <td class="points">3200</td>
                </tr>
                <tr>
                    <td class="number">4</td>
                    <td class="name">User 4</td>
                    <td class="points">1500</td>
                </tr>
                <tr>
                    <td class="number">5</td>
                    <td class="name">User 5</td>
                    <td class="points">175</td>
                </tr>
            </table>   
            <div id="buttons">
                <button class="close">Schliesen</button>
            </div>
    </div>

    <footer>
        <button
            class="logout-button"
            id="logout-button"
            onclick="logout()"
        >
            Logout
        </button>
        <script type="text/javascript">
            const logout_url = "{{ url_for('api.auth.api_logout') }}";
            async function logout()
            {
                fetch(logout_url, {method: "POST"})
                    .then(() => window.location.reload());
            }
        </script>
    </footer>
</body>
</html>
