{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block body %}
    {% include 'popup/settings.html' %}

    <header>
        <button class="nav-button" id="play-button">{{ t("navbar.back_game") }}</button>
        <button class="nav-button" id="settings-button" onclick="OpenPopup('settings-popup')">{{ t("navbar.settings") }}</button>
        <script>
            document.getElementById("play-button").addEventListener("click", () => {
                location.href = "{{ url_for('frontend.main.index') }}";
            });
        </script>
    </header>

    <div class="container" id="shop">
        <section id="item_nav">
            <h2>{{ t("shop.items") }}</h2>
            <ul id="item_list">
                {% for name, item in get_items().items() %}
                    <li class="item"
                        data-item="{{ name }}"
                        data-name="{{ item.get_name() }}"
                        data-description="{{ item.get_description() }}"
                        data-price="{{ item.price }}"
                        data-image="{{ url_for('static', filename=item.asset_big) }}"
                        data-buy-url="{{ url_for('api.shop.buy', id_name=name) }}"
                    >
                        <img src="{{ url_for('static', filename=item.asset_small) }}" alt="{{ item.name }}">
                        <span>{{ item.get_name() }}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section id="item_show">
            <div id="item_header">
                <div id="points">{{ t("shop.points") }}: {{ current_user.points }}</div>
                <h2>Item Name</h2>
            </div>
            <img id="item_frame">
            </img>
            <div>
                <p><a id="item_description"></a></p>
                <p>{{ t("shop.cost") }}: <a id="item_price">?</a></p>
                <button id="buy-button">{{ t("shop.buy") }}</button>
            </div>
        </section>
    </div>


    <script>
        const itemNav = document.getElementById("item_nav");
        const itemShow = document.getElementById("item_show");
        const buyButton = document.getElementById("buy-button");
        buyButton.disabled = true;

        var last_item = null;

        function displayItem (selectedItem) {
            if (!selectedItem)
                return;

            if (!selectedItem.classList.contains("item"))
                selectedItem = selectedItem.parentElement;

            if (selectedItem.classList.contains("item")) {
                last_item = selectedItem;
                const itemName = selectedItem.dataset.name;
                const itemImage = selectedItem.dataset.image;
                const itemDescription = selectedItem.dataset.description;
                const itemPrice = selectedItem.dataset.price;

                const itemHeader = itemShow.querySelector("#item_header");
                const itemFrame = itemShow.querySelector("#item_frame");
                const itemDescriptionElem = itemShow.querySelector("#item_description");
                const itemPriceElem = itemShow.querySelector("#item_price");

                itemHeader.querySelector("h2").textContent = itemName;
                itemFrame.src = itemImage;
                itemFrame.alt = itemName;
                itemDescriptionElem.innerHTML = itemDescription;
                itemPriceElem.innerHTML = itemPrice;
                buyButton.disabled = false;
            }
        }

        function displayFirstItem() {
            const item_list = document.getElementById("item_list").children;
            if (item_list.length > 0) {
                displayItem(item_list[0]);
            }
        }

        function buyItem(selectedItem) {
            if (!selectedItem)
                return;

            fetch(selectedItem.dataset.buyUrl, {method: "POST"})
                .then(response => response.json())
                .then(data => window.location.reload());
        }

        document.addEventListener("DOMContentLoaded", () => {
            itemNav.addEventListener("click", (event) => {
                displayItem(event.target);
            });

            displayFirstItem();
        });

        buyButton.addEventListener("click", () => {
            buyItem(last_item);
        })
    </script>
{% endblock %}