{% extends 'base.html' %}
{% block title %}try your luck{% endblock %}

{% block body %}
    <header>
        <h1>Ratespiel</h1>
    </header>

    <div class="wrapper">
        <section>
            <h2>Login</h2>
            <form class="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
        </section>

        <section>
            <h2>Register</h2>
            <form class="registration-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button class="register" type="submit">Register</button>
            </form>
        </section>
    </div>

    <footer>
        <button class="settings-button"><i class="fas fa-cog"></i></button>
    </footer>
{% endblock %}
