{% extends 'base.html' %}
{% block title %}try your luck{% endblock %}

{% block body %}
    <header>
        <h1>Ratespiel</h1>
    </header>

    <script>
        async function submitForm(event) {
            // stop form submission
            event.preventDefault();

            var form = event.target;
            var url = form.action;

            const formData = new FormData(form);
            console.log(formData);
            const response = await fetch(url, {
                method: "POST",
                body: formData
            });

            const data = await response.json()
            if ("error" in data)
            {
                console.error(data)
            }
            else
            {
                console.info(data);
                window.location.reload();
            }
        }
    </script>

    <div class="wrapper">
        <section>
            <h2>Login</h2>
            <form id="login-form" action="{{ url_for('api_login') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
        </section>
        <script>
            const login_form = document.getElementById("login-form");
            login_form.addEventListener('submit', submitForm);
        </script>

        <section>
            <h2>Register</h2>
            <form id="registration-form" action="{{ url_for('api_register') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button class="register" type="submit">Register</button>
            </form>
        </section>
        <script>
            const signup_form = document.getElementById("registration-form");
            signup_form.addEventListener('submit', submitForm);
        </script>

    </div>

    <footer>
        <button class="settings-button"><i class="fas fa-cog"></i></button>
    </footer>
{% endblock %}
