<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!Dice - Triffst du die Zahl</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header>
        <h1>Ratespiel</h1>
    </header>

    <div class="wrapper">
        <section>
            <h2>Don't have an account</h2>
            <form class="registration-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button class="register" type="submit">Register</button>
            </form>
        </section>

        <section>
            <h2>Hop in and play</h2>
            <form class="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
        </section>
    </div>

    <footer>
        <button class="settings-button"><i class="fas fa-cog"></i></button>
    </footer>
</body>


