<div id="leaderboard-popup" class="popup">
    <div class="container" id="leaderboard">
    <h1>{{ t("leaderboard.ranking") }}</h1>
    <div class="ribbon"></div>
        <table>
            <tr>
                <td class="number">1</td>
                <td class="name">...</td>
                <td class="points">...</td>
            </tr>
            <tr>
                <td class="number">2</td>
                <td class="name">...</td>
                <td class="points">...</td>
            </tr>
            <tr>
                <td class="number">3</td>
                <td class="name">...</td>
                <td class="points">...</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td class="name">...</td>
                <td class="points">...</td>
            </tr>
            <tr>
                <td class="number">5</td>
                <td class="name">...</td>
                <td class="points">...</td>
            </tr>
        </table>   
        <div id="buttons">
            <button onclick="ClosePopup()">{{ t("close") }}</button>
        </div>
    </div>
</div>
