<div class="popup"
    id="leaderboard-popup"
    data-popup-open-callback="leaderboard_open"
>
    <div class="container" id="leaderboard">
        <h1>{{ t("leaderboard.ranking") }}</h1>
        <h3>{{ t("leaderboard.your_position") }}: #<a id="current_pos">?</a></h3>
        <div class="ribbon"></div>
        <table id="leaderboard-table">
            <tr>
                <td class="number">1</td>
                <td class="name"></td>
                <td class="points"></td>
            </tr>
            <tr>
                <td class="number">2</td>
                <td class="name"></td>
                <td class="points"></td>
            </tr>
            <tr>
                <td class="number">3</td>
                <td class="name"></td>
                <td class="points"></td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td class="name"></td>
                <td class="points"></td>
            </tr>
            <tr>
                <td class="number">5</td>
                <td class="name"></td>
                <td class="points"></td>
            </tr>
        </table>   
        <div id="buttons">
            <button onclick="ClosePopup()">{{ t("close") }}</button>
        </div>
    </div>
</div>
<script>
async function leaderboard_open()
{
    const leaderboard_table = document.getElementById("leaderboard-table");
    const leaderboard_body = document.getElementById("leaderboard-table").tBodies[0];

    const url = "{{ url_for('api.dice.scoreboard') }}"
    const response = await fetch(url, {method: "GET"});

    const data = await response.json()

    const current_pos_element = document.getElementById("current_pos");
    current_pos_element.innerHTML = data.current_position;

    for (var i = 0; i < leaderboard_body.children.length; i++)
    {
        const entry_data = data.scoreboard[i];
        if (!entry_data)
            continue;

        const row = leaderboard_body.children[i];

        row.getElementsByClassName("name")[0].innerHTML = entry_data["username"]
        row.getElementsByClassName("points")[0].innerHTML = entry_data["points"]
    }
}
</script>