<div id="leaderboard-popup" class="popup">
    <div class="container" id="leaderboard">
    <h1>Ranking</h1>
    <div class="ribbon"></div>
        <table>
            <tr>
                <td class="number">1</td>
                <td class="name">User 1</td>
                <td class="points">
                5000 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
                </td>
            </tr>
            <tr>
                <td class="number">2</td>
                <td class="name">User 2</td>
                <td class="points">4800</td>
            </tr>
            <tr>
                <td class="number">3</td>
                <td class="name">User 3</td>
                <td class="points">3200</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td class="name">User 4</td>
                <td class="points">1500</td>
            </tr>
            <tr>
                <td class="number">5</td>
                <td class="name">User 5</td>
                <td class="points">175</td>
            </tr>
        </table>   
        <div id="buttons">
            <button onclick="ClosePopup()">Schliesen</button>
        </div>
    </div>
</div>
