/*              Style               */
/*                                  */

/*        General Settings          */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px; /* Abstand vom oberen Rand */
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}


/*          Nav Settings            */
.nav-button, .logout-button {
    background-color: #fff;
    color: #000;
    border: 2px solid #0056b3;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

.nav-button:hover, .logout-button:hover {
    color: #fff;
}


/*         Font Settings            */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/*         Button Settings          */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.logout-button:hover, .nav-button:hover {
    color: #fff;
}


/*         Slider Settings          */
.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #dcdcdc;
    border-radius: 30px;
    cursor: pointer;
}

.slider input {
    display: none;
}

.slider-inner {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.slider input:checked + .slider-inner {
    transform: translateX(30px);
}

.slider input:checked + .slider-inner::before {
    content: 'ON';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #007aff;
    font-size: 12px;
    font-weight: bold;
}

.slider-inner::before {
    content: 'OFF';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-size: 12px;
    font-weight: bold;
}


/*          Form Settings           */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


/*         Custom Settings          */
.container#error {
    background-color: crimson;
    margin-bottom: 1rem;
    color: #fff;
    padding: 10px 20px;
}

.hidden {
    display: none;
}


/*           Item Settings          */
/* Item-Liste */
.container#shop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
}

#item_nav {
    flex: 1 1 25%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Elemente in der Mitte ausrichten */
}

#item_nav .item_list {
    list-style-type: none;
    padding: 0;
}

#item_nav .item {
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    width: 150px;
}

#item_nav .item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#item_nav .item:hover {
    background-color: #f0f0f0;
}

#item_show {
    flex: 1 1 75%;
    max-height: 90vh;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#item_show #item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#item_show #points {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

#item_show #item_frame {
    max-width: 80%;
    margin: 20px auto;
}

#item_show #item_frame img {
    max-width: 100%;
    height: auto;
}

#item_show #item_description {
    margin-top: 20px;
}

#item_show .buy-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#item_frame {
    max-width: 80%;
    margin: 20px auto;
}

#item_frame img {
    max-width: 100%;
    height: auto;
}

#item_description {
    margin-top: 20px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
}

.buy-button:hover {
    background-color: #0056b3;
}






