/*body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;    
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-button, .logout-button {
    background-color: #fff;
    color: #000;
    border: 2px solid #0056b3;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}*/

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.nav-button, .logout-button {
    background-color: #fff;
    color: #000;
    border: 2px solid #0056b3;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

.nav-button:hover, .logout-button:hover {
    color: #fff;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px; /* Abstand vom oberen Rand */
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

/* ... restlicher CSS-Code ... */



.container#error {
    background-color: crimson;
    margin-bottom: 1rem;
    color: #fff;
    padding: 10px 20px;
}

.hidden {
    display: none;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.logout-button:hover, .nav-button:hover {
    color: #fff;
}
